body{
    margin:0;
    text-align: center;
    font-family:'Merriweather',serif;
}
h2{
    margin-top: 0;
    font-family: 'Sacramento',cursive;
    
}
h3{
    font-family: 'Sacramento',cursive;

}
.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
    
}
.mid-container{
    background-color: red;
    width: 200px;
    height: 200px;
}
.btm-container{
    background-color: blue;
    width: 200px;
    height: 200px;
}
.bottomcloud{
    position: absolute;
    left: 300px;
    bottom:50px;
}
.myimg{
    width: 15%;
}
.topcloud{
    position: absolute;
    right: 300px;
    top:50px;
    
}
body{
    margin:0;
    text-align: center;
}
div{
    background-color:#E4F9F5;
}
